<main class="container">
  <div class="row justify-content-center my-4">
    <h1>Dashboard</h1>
    <div class="w-100"></div>
    <div class="col-lg">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link text-info active" href="/dashboard">概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= edit_user_path(current_user) %>">ユーザー編集</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">各種設定</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-lg-6">
      <!-- Pageview -->
      <div class="card card-stats mb-xl-0 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-1">Traffic</h5>
              <span class="h2 font-weight-bold mb-0"><%= @page_views %></span>
            </div>
            <div class="col-auto">
              <div class="icon bg-success text-white rounded-circle text-center" style="width: 54px; height: 54px;">
                <i class="material-icons md-36 pt-2">assessment</i>
              </div>
            </div>
          </div>
          <p class="mt-2 mb-0 text-muted text-sm">
          <span class="text-nowrap">ページビュー</span>
          </p>
        </div>
      </div>
    </div>
    <!-- Earning -->
    <div class="col-lg-6">
      <div class="card card-stats mb-xl-0 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col ml-2">
              <h5 class="card-title text-uppercase text-muted mb-1">Earning</h5>
              <span class="h2 font-weight-bold mb-0">￥<%= @earning %></span>
            </div>
            <div class="col-auto">
              <div class="icon bg-danger text-white rounded-circle text-center" style="width: 54px; height: 54px;">
                <i class="material-icons md-36 pt-2">account_balance_wallet</i>
              </div>
            </div>
          </div>
          <p class="mt-2 mb-0 text-muted text-sm ml-2">
          <span class="text-nowrap">コーヒー <%= @cups %> 杯</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Link -->
  <div class="row mb-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-9 ml-5">
              <h5 class="card-title text-uppercase text-muted">マイページリンク</h5>
              <h1 id="bar" class="form-control " readonly>
                localhost:3000/users/<%= current_user.id %>
              </h1>
            </div>
            <div class="col mt-3 pt-3 mr-5">
              <button class="clipboard-btn btn btn-warning text-white" data-clipboard-action="copy" data-clipboard-target="#bar">
                コピー
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Transaction -->
  <div class="row">
    <div class="col-xl">
      <div class="card shadow my-4">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="text-uppercase text-muted ls-1 mb-1">コーヒー履歴</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% if @transactions.exists? %>
              <div id="transactions">
            <% @transactions.each do |transaction| %>
              <div class="card mx-4 my-4">
                <div class="card-body pb-0">
                  <h5>
                    <strong>
                      <% if transaction.customer_name %>
                        <%= transaction.customer_name %>
                      <% else %>
                        Someone
                      <% end %>
                    </strong>
                    さんが <%= current_user.name %> にコーヒをおごりました
                  </h5>
                  <p class="text-muted pl-2"><%= transaction.customer_message %></p>
                </div>
              </div>
            <% end %>
              </div>
            <%= link_to_next_page @transactions, "more", remote: true, id: "more_link", class: "btn btn-light ml-4" %>
          <% else %>
            <p>コーヒー履歴がありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% 10.times do |br| %>
    <br>
  <% end %>
</main>
