<main class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card card-profile shadow">
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-md-4">
          <div class="row justify-content-center">
            <div class="user-image">
              <%= attachment_image_tag @user, :image, :fill, 100, 100, :size => "100x100", fallback: "no-user-image.jpg", class: "shadow" %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h3>
            <%= @user.name %>
          </h3>
          <div class="h5 font-weight-300">
            <%= @user.occupation %>
          </div>
          <hr class="my-4" />
          <p class="mx-5 my-4"><%= @user.introduction %></p>
        </div>
      </div>
    </div>
    <div class="col ml-2">
      <div class="card shadow">
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-md-4 mx-4 mb-3">
          <h5><strong><%= @user.name %></strong> にコーヒーを奢る</h5><br />
          <!-- Stripe checkout form -->
          <%= form_with url: charges_path do |f| %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
            </article>

            <div class="row">
            </div>
            <div class="form-group">
              <%= f.text_field :customer_name, class: "form-control", placeholder: "Name" %>
            </div>
            <div class="form-group">
              <%= f.text_area :customer_message, class: "form-control", placeholder: "Message" %>
            </div>

            <% if @user != current_user && @user.stripe_id %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-label="カードで支払う"
                  data-name="<%= @user.name%> をサポートする"
                  data-amount="300"
                  data-locale="ja"
                  data-currency="jpy"
                  data-panel-label="{{amount}}のお支払い"></script>
            <% elsif !@user.stripe_id %>
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="サポートを受けるにはStripeアカウントの設定が必要です。ダッシュボードの各種設定からアカウントの設定をしてください">
                <button type="button" class="btn btn-primary" style="pointer-events: none;"  disabled>カードで支払う</button>
              </span>
            <% else %>
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="自分自身に支払うことはできません">
                <button type="button" class="btn btn-primary" style="pointer-events: none;"  disabled>カードで支払う</button>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card shadow my-4">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="text-uppercase text-muted ls-1 mb-1">コーヒー履歴</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% if @transactions.exists? %>
            <div id="transactions">
            <% @transactions.each do |transaction| %>
              <div class="card mx-4 my-4">
                <div class="card-body pb-0">
                  <h5>
                    <strong>
                      <% if transaction.customer_name && transaction.customer_name != "" %>
                        <%= transaction.customer_name %>
                      <% else %>
                        Someone
                      <% end %>
                    </strong>
                    さんが <%= @user.name %> にコーヒをおごりました
                  </h5>
                  <p class="text-muted pl-2"><%= transaction.customer_message %></p>
                </div>
              </div>
            <% end %>
            </div>
            <%= link_to_next_page @transactions, "more", remote: true, id: "more_link", class: "btn btn-light ml-4" %>
          <% else %>
            <p>コーヒー履歴がありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% 15.times do |br| %>
    <br />
  <% end %>
</main>
