<main class="container">
  <div class="row justify-content-center my-4">
    <h1>Dashboard</h1>
    <div class="w-100"></div>
    <div class="col-lg">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= edit_user_path(current_user) %>">ユーザー編集</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info active" href="/settings">各種設定</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xl">
    <div class="w-100"></div>
    <% if alert != nil %>
      <div class="alert alert-warning alert-dismissible fade show mt-2 mb-0" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="card shadow ml-3 my-5"> 
      <div class="card-body">
        <h5 class="ml-1">支払い方法</h5>
        <% if @user.stripe_id %>
          <%= image_tag "stripe-logo-blue.png", :size => "100x50" %>
          <div class="d-inline-flex h4"> 
            <span class="badge badge-pill badge-success h6">接続済</span>
            <div class="btn-group ml-2">
              <button type="button" class="btn btn-sm btn-dark"><%= @acct["email"] %></button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a href="https://dashboard.stripe.com/dashboard" class="dropdown-item">
                  Stripe Dashboard
                </a>
                <%= link_to "接続解除", disconnect_stripe_account_path, method: :post, class: "dropdown-item" %>
              </div>
            </div>
          </div>
        <% else %>
          <a href="<%= @oauth_link %>" data-toggle="tooltip" data-placement="right" title="
          Stripeはオンライン決済のプラットフォームです。アカウント登録されていない方はこちらから登録してください。
          ">
          <%= image_tag "light-on-light.png", class: "my-3" %>
          </a>
        <% end %>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
  <% 20.times do |br| %>
    <br />
  <% end %>
</main>
