<main class="container">
  <div class="row justify-content-center my-4">
  <h4>クリエイターを探す</h4>
  <div class="w-100"></div>
    <!-- Search fomr -->
    <%= form_with url: explore_path, method: :get, local: true, class: "form-inline my-lg-4" do |f| %>
      <%= f.text_field :keyword, class: "form-control mr-2", placeholder: "Search" %>
      <%= f.submit("検索", class: "btn btn-outline-dark my-2 my-sm-0 ml-2") %>
    <% end %>
    <div class="w-100"></div>
    <% @searched.each do |user| %>
      <div class="card col-md-3 mx-3 my-2 shadow-sm" style="width: 20rem;">
        <div class="row no-gutters">
          <div class="col-md-4 ml-2">
            <div class="user-image my-3">
              <%= attachment_image_tag user, :image, :fill, 100, 100, :size => "60x60",  fallback: "no-user-image.jpg" %>
            </div>
          </div>
          <div class="card-body col-md-5 ml-2">
            <h6 class="card-title"><%= user.name %></h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <% if user.occupation %>
                <%= user.occupation %>
              <% else %>
                <span>Artist</span>
              <% end %>
            </h6>
          </div>
          <p class="card-text ml-2 pb-2"><%= user.introduction %></p>
          <a href="<%= user_path(user) %>" class="stretched-link"></a>
        </div>
      </div>
    <% end %>
  </div>
</main>
